body {
	font-family: Roboto, Arial, sans-serif, Verdana, Geneva, Helvetica;
	font-size: 12pt;
	background: #fff;
}
h1 {
	font-size: 14pt;
	font-weight: 100;
	padding: 0;
	margin: 0;
}
h2 { /* title info window*/
	font-size: 12pt;
	margin: 0;
	padding: 3px 0 3px 0;
	text-transform: uppercase;
	font-weight: normal;
}
h3 { /* title legend */
	font-size: 12pt;
	margin: 0;
	padding: 10px 0 6px 0;
	text-transform: uppercase;
	font-weight: normal;
}
h4 { /* Routing option and routing result*/
	font-size: 10pt;
	margin: 0;
	padding: 10px 0 3px 0;
	font-weight: bold;
}	
p {
	margin: 0;
	padding: 0 0 6px 0;
}


/* main div */
#tit_div {
	clear: both;
	/*background-color:#CCC;*/
	margin: 0 0 6px 0;
	padding: 6px 0 6px 6px;
	width: 1190px;
	float:left;
}
#map_div {
	width: 800px; /* 840 px*/
	height: 610px; /* 720 px */
	float: left;
	margin: 0;
	padding: 0;
	clear:both;
}
#lay_div {
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
}
#imp_div {
	clear: both;
	margin: 0px 0 18px 0;
	padding: 0px 15px 0px 15px;
	border: 1px dashed #333333;
	float:left;
	width: 350px;
	cursor:pointer;
}


/* div layer 2 */
.box_cat {
	margin: 0px 0 18px 0;
	float: left;
	background-color:#EEEEEE;
	padding: 0px 15px 6px 15px;
	clear: both;
	width: 350px;
}
.imp_div_tit {
	float:left;
	clear: both;
	margin: 0 0 6px 0;
	padding: 0;
}
#imp_div_img {
	float:right;
	margin: 0;
	padding: 10px 0 0 0;
}
.imp_div_cat {
	width: 80px;
	float:left;
	clear: both;
	font-weight:bold;	
}
.imp_div_cont {
	float: left;
}
#imp_div_contentbox {
	display: none;
}
.background_color_hover {
	background-color: #EEEEEE;
}

/* div layer 3 */
.box_lay {
	float:left;
	clear:both;
	margin: 3px 0 3px 0;
	vertical-align: center;
}
.box_lay_clear_none {
	clear: none;	
	margin-left: 20px;
}
#reset_route {
	display: none;	
	float: left;
	margin: 20px 0 0 25px;
}




/* div layer 4 */
.desc_box{
	width: 50px;
	float:left;
	padding: 5px 0 0 0;
	font-weight: bold;
}
.name_box{
	float:left;
	padding: 5px 0 0 5px;
	font-style:italic;
}



/* event styling */
.legend_text_show {
	vertical-align: 5px;	
	color: #000000;
}
.legend_text_hide {
	vertical-align: 5px;	
	color: #AAAAAA;
}


/* button */
.reset_button {
	margin: 0 0 0 0;
	padding: 1px 5px 1px 5px;
}
.reset_button_space {
	margin-right: 10px;
}
.calc_button {
	margin: 3px 0 0 2px;
	padding: 1px 5px 1px 5px;
}



/* select */
.select_list {
	width: 200px;
}
.select_travelmode {
	width: 120px;
}

.title {
	float: left;
}


/* input */
.input_coord {
	float:left; 
	width: 120px;
}


